body {
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

#header-nav {
    background-color: #f6b319;
}

#name-on-top { /*Restaurant Name */
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

#kosher-on-top { /*Kosher cert */
    color: #000;
    text-transform: uppercase;
    font-size: .8em;
    margin-top: 15px;
}

#temp {
    color: red;
    width: 100px;
    height: 100px;
}

#logo-image-on-top {
    background: url("../images/restaurant-logo_large.png") no-repeat;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#logo-image-star {
    background: url("../images/star-k-logo.png") no-repeat;
    width: 50px;
    height: 50px;
}